<!DOCTYPE html>
<html lang="en">
<base href="~/"/>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - клуб Го</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css"/>
</head>
<body>
@{
    var username = Context.Request.Cookies["username"];
    var isLoggedIn = username != null;
}
<header>
    <div id="wrapper">

        <div class="text"><h1>Добро пожаловать на сайт посвящённый игре Го</h1></div>
        <li class="nav-item">
            @{
                var profileLabel = AccountManagerService.IsLoggedIn ? "Профиль" : "Вход";
                var profilePage = AccountManagerService.IsLoggedIn ? "/Profile" : "/LoginPage";
            }
            <a class="nav-link text-dark" asp-area="" asp-page="@profilePage">

                @profileLabel
            </a>
        </li>

        <div id="sidebar">
            <div class="toggle_btn" onclick="openMenu()">
                <span></span>
                <span></span>
                <span></span>
            </div>

            <ul>
                <li>Меню</li>
                <li><p onclick="document.location='../Profile.cshtml'" class="menu">Профиль</p></li>
                <li><p onclick="document.location='../PlayerList.cshtml'" class="menu">Список Игроков</p></li>
                <li><p onclick="document.location='../LoginPage.cshtml'" class="menu">Навигация</p></li>
            </ul>

        </div>

    </div>

    <script>
        function openMenu(){
            document.getElementById("sidebar").classList.toggle('active');
        }

    </script>
    <!--<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-page="/Index">Клуб ГО ДВФУ</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/Index">Главная</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-page="/PlayerList">Список Игроков</a>
                    </li>
                </ul>
                <ul class="navbar-nav flex-grow-1 mr-sm-auto">
                    <li class="nav-item">
                        @{
                            var profileLabel = isLoggedIn ? $"Привет, {username}" : "Вход";
                            var profileRoute = isLoggedIn ? "Account/Profile" : "Account/Login";
                        }
                        <a class="nav-link text-dark" href="@profileRoute">
                            @profileLabel
                        </a>
                    </li>
                    <li class="nav-item">
                        @{
                            var registrationLabel = isLoggedIn ? "Выйти" : "Регистрация";
                            var registrationRoute = isLoggedIn ? "/Account/Logout" : "Account/Registration";
                        }
                        <a class="nav-link text-dark" href="@registrationRoute">
                            @registrationLabel
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>-->
</header>
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2021 - Клуб Го ДВФУ
    </div>
</footer>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>

@await RenderSectionAsync("Scripts", required: false)
</body>
</html>